.background {
    background-image: url('https://www.naemd.com/images/video-banner-new-img-main.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  
    .login-card {
      background-color: rgba(255, 255, 255, 0.9);
      padding: 40px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      max-width: 400px;
      width: 100%;
      text-align: center;
      animation: slide-up 0.5s ease, fadeIn 0.5s ease;
      transition: transform 0.3s ease;
  
      h2 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
      }
  
      form {
        display: flex;
        flex-direction: column;
  
        .form-group {
          margin-bottom: 20px;
          text-align: left;
  
          label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
            color: #555;
          }
  
          input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            transition: border-color 0.3s ease;
  
            &:focus {
              border-color: #4CAF50;
            }
          }
        }
  
        button {
          background-color: #4CAF50;
          color: white;
          border: none;
          padding: 12px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: #45a049;
          }
        }
      }
  
      .icon {
        font-size: 20px;
        margin-right: 10px;
      }
    }
  
    @keyframes slide-up {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  
    &:hover .login-card {
      transform: translateY(-10px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }
  }
  

  .error-message {
    color: #dc3545;
    font-size: 14px;
    margin-top: 4px;
  }
  